<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chisme Criptografico</title>
</head>
<body>
    <h1>Jonathan James, el joven que con sólo 15 años hackeó y puso de cabeza a la NASA y al Pentágono</h1>
    <p>Entre junio y octubre de 1999 se llevaba a cabo uno de los episodios más increíbles en la historia de los crímenes informáticos. 
        El Departamento de Defensa de los Estados Unidos (DoD) descubría una serie de intrusiones a compañías privadas, sistemas escolares, 
        así como al mismo DoD y hasta la NASA. Lo interesante de todo esto es que dichas intrusiones fueron obra de un joven de apenas 15 años de edad.
        Jonathan Joseph James es parte de los libros de historia como el primer cracker (que para efectos prácticos nos referiremos a él como 'hacker') menor de edad en ser sentenciado 
        por delitos cibernéticos en los Estados Unidos. Esta es su historia.</p>
    <p>Nativo de la ciudad de Miami, Jonathan James, quien operaba bajo el seudónimo de 'C0mrade', es considerado uno de los más grandes hackers 
        de la historia gracias a su gran capacidad de acceder a sistemas privados por mero entretenimiento. Entre el 29 y 30 de junio, 
        Jonathan logró romper la seguridad de la NASA y acceder a 13 ordenadores de donde robó software e información con un valor de 
        1,7 millones de dólares, lo que provocó que la agencia tuviera que apagar sus sistemas por 21 días, una acción que les costaría 41.000 dólares 
        en reparaciones y pérdidas.</p>
    <p>Posteriormente se descubriría que el software que robó 'C0mrade' se trataba del código fuente que controlaba elementos críticos de 
        supervivencia dentro de la Estación Espacial Internacional. Según la NASA, este software permitía controlar la temperatura y la humedad 
        dentro de la ISS, así como otros elementos importantes del entorno físico. Por lo anterior, la NASA tomó la decisión de apagar todo y 
        reescribir parte del código fuente, además de reforzar la seguridad de sus sistemas.</p>
</body>
</html>