<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Acceso</title>
</head>
<body>
    <h1>HA OCURRIDO UN ERROR</h1>
    <p id="result"></p>
    <button id="regresar">Regresar</button>

    <script>
        const regresarButton = document.getElementById("regresar");
        regresarButton.addEventListener('click', function(event){
            window.location.href = '/';
        })
    </script>
</body>
</html>